<div>
  <div class="header">
    <li>Equipment search</li>
  </div>
  <div ng-app="ourAppApp">
    <div ng-controller="EquipSearchCtr as equipctr">
      <div class="demo-section k-content">
        <ul class="fieldlist">
          <li>
            <label for="simple-input">设备名称</label>
            <input id="simple-input" type="text" class="k-textbox" style="width: 100%;"  ng-model="EquipNameInput.text"/>
          </li>
          <li>
            <label for="simple-textarea">故障描述</label>
            <textarea id="simple-textarea" class="k-textbox" style="width: 100%;"  ng-model="FaultDescription.detailFault"></textarea>
          </li>
        </ul>
      </div>
      <p ng-bind="rStr" ></p>

      <button ng-click="CheckStatusSearch()">Output to console</button>
      <button ng-click="CreateGD()">Creaate GD</button>
      <kendo-grid id="grid"  options="equipctr.tableMaintenanceOptions"  k-data-source="equipctr.maintenanceDataSource">
        <!--
        <div>
       <div k-detail-template>
         <kendo-tabstrip>
           <ul>
             <li class="k-state-active">Orders</li>
             <li>Contact information</li>
           </ul>
           <div>
             <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
           </div>

             <ul class="contact-info-form">
               <li><label>Country:</label> <input class="k-textbox" ng-model="dataItem.Country" /></li>
               <li><label>City:</label> <input class="k-textbox" ng-model="dataItem.City" /></li>
               <li><label>Address:</label> {{dataItem.Address}}</li>
               <li><label>Home phone:</label> {{dataItem.HomePhone}}</li>
             </ul>
           </div>
          </kendo-tabstrip>
        </div>
        -->
      </kendo-grid>

    </div>
    <style>
      .contact-info-form {
        list-style-type: none;
        margin: 30px 0;
        padding: 0;
      }

      .contact-info-form li {
        margin: 10px 0;
      }

      .contact-info-form label {
        display: inline-block;
        width: 100px;
        text-align: right;
        font-weight: bold;
      }
    </style>
  </div>
</div>
