<div>
    <div >
        <div ng-controller="EquipesearchcomosctrCtrl as equipctr">
            <div class="container">
              <div class="row ">
                <div class="col-sm-8">
                  <div class="row ">
                    <label class="col-sm-2" for="simple-input">设备名称:</label>
                    <input id="simple-input" type="text" class="k-textbox col-sm-5" ng-model="EquipNameInput.text"/>
                    <label class="col-sm-2" for="simple-input2">设备编号:</label>
                    <input  id="simple-input2" type="text" class="k-textbox col-sm-4"  ng-model="EquipIDInput.text"/>
                  </div>
                  <div class="row ">
                    <label class="col-sm-2" for="simple-input4">管理部门:</label>
                    <select ng-model="equipctr.selectDepartment"
                            class="k-textbox col-sm-4"
                            id="simple-input4"
                            ng-change="equipctr.updateEquipTypeOptions()"
                            ng-options="c.label for c in equipctr.equpDepartment">
                    </select>
                    <label class="col-sm-2" for="simple-input5">设备类型:</label>
                    <select ng-model="equipctr.selectedEquipType"
                            class="k-textbox col-sm-4"
                            id="simple-input5"
                            ng-options="c.label for c in equipctr.equipTypeOption">
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row ">
                    <button  id="simple-input3" class="col-sm-5 btn btn-success" ng-click="CheckStatusSearch()">查询</button>
                  </div>
                </div>
              </div>
            </div>

            <h3>设备列表</h3>
            <kendo-grid id="grid"  options="equipctr.tableMaintenanceOptions"  k-data-source="equipctr.maintenanceDataSource">

            </kendo-grid>
            <p></p>
          <div class="container">
            <div class="row ">
              <p class="col-sm-8"></p>
              <button ng-click="CreateGD()" class="col-sm-2 btn btn-success">导航到报修界面</button>
            </div>
          </div>

        </div>
    </div>
</div>

<style>
    .contact-info-form {
        list-style-type: none;
        margin: 30px 0;
        padding: 0;
    }

    .contact-info-form li {
        margin: 10px 0;
    }

    .contact-info-form label {
        display: inline-block;
        width: 100px;
        text-align: right;
        font-weight: bold;
    }

    .demo-section p {
        margin: 0 0 30px;
        line-height: 50px;
    }
    .demo-section p .k-button {
        margin: 0 10px 0 0;
    }
    .k-primary {
        min-width: 150px;
    }
</style>
