<div>
  <div>
    <div ng-controller="EquipSearchCtr as equipctr">
      <div class="container">
        <div class="row ">
          <div class="col-sm-9">
            <div class="row ">
              <label class="col-sm-2" for="simple-input">设备名称:</label>
              <input id="simple-input" type="text" class="col-sm-3" ng-model="EquipNameInput.text"/>
              <label class="col-sm-2" for="simple-input2">设备编号:</label>
              <input  id="simple-input2" type="text" class="col-sm-3"  ng-model="EquipIDInput.text"/>
            </div>
            <p/>
            <div class="row ">
              <label class="col-sm-2" for="simple-input4">管理部门:</label>
              <select ng-model="equipctr.selectDepartment"
                      class="col-sm-3"
                      id="simple-input4"
                      ng-change="equipctr.updateEquipTypeOptions()"
                      ng-options="c.label for c in equipctr.equpDepartment">
              </select>
              <label class="col-sm-2" for="simple-input5">设备类型:</label>
              <select ng-model="equipctr.selectedEquipType"
                      class="col-sm-3"
                      id="simple-input5"
                      ng-options="c.label for c in equipctr.equipTypeOption">
              </select>
            </div>
            <p/>
            <div class="row">
              <label class="col-sm-2" for="simple-textarea">故障描述:</label>
              <textarea placeholder="请输入故障描述。" id="simple-textarea" class=" col-sm-8" ng-model="FaultDescription.detailFault"></textarea>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row ">
              <button  id="simple-input3" class="col-sm-5 btn btn-success" ng-click="CheckStatusSearch()">查询</button>
            </div>
            <p/>
            <div class="row ">
              <button  class="col-sm-5 btn btn-success" ng-click="CreateGD()">报修</button>
            </div>
          </div>
        </div>
      </div>

      <h3>可选设备</h3>
      <kendo-grid id="grid"  options="equipctr.tableMaintenanceOptions"  k-data-source="equipctr.maintenanceDataSource">
      </kendo-grid>

    </div>
    <style>
      .contact-info-form {
        list-style-type: none;
        margin: 30px 0;
        padding: 0;
      }

      .contact-info-form li {
        margin: 10px 0;
      }

      .contact-info-form label {
        display: inline-block;
        width: 100px;
        text-align: right;
        font-weight: bold;
      }
    </style>
  </div>
</div>
