<div>
    <div >
      <div ng-controller="WorkorderManagementCtrl as ctrl">
        <div class="container">
          <div class="row ">
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-6">
                  <label for="simple-input">设备名称:</label>
                  <input id="simple-input" type="text" class="k-textbox" ng-model="ctrl.EquipNameInput.text"/>
                </div>
                <div class="col-sm-6">
                    <label for="simple-input">车间:</label>
                    <select id="simple-input" ng-options="null"></select>
                </div>
              </div>
              <div class="row">
                    <div class="col-sm-6">
                        <label for="simple-input">工单状态:</label>
                        <select id="simple-input" ng-options="null"></select>
                    </div>
                    <div class="col-sm-6">
                        <label for="simple-input">故障现象:</label>
                        <textarea id="simple-input" type="text" class="k-textbox" ng-model="ctrl.EquipNameInput.text"/>
                    </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="row ">
                <button class="col-sm-5 btn btn-success" ng-click="ctrl.CheckStatusSearch()">查询</button>
              </div>
            </div>
          </div>
        </div>
  
        <h3>备件列表</h3>
        <kendo-grid id="gridSpare"  options="ctrl.tableMaintenanceOptions"  k-data-source="ctrl.maintenanceDataSource">
  
        </kendo-grid>
  
  
      </div>
    </div>
  </div>
  